* {
    --text-color-primary: rgb(255, 255, 255);
    --text-color-secondary: rgb(200, 200, 200);
    list-style-type: none;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 0);
    font-family: var(--font-family-system);
    color: var(--text-color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px rgb(50, 50, 50);
    border-radius: 2px;
    margin-top: 14px;
    padding: 20px;
    max-width: 320px;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.top-div {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 270px;
    font-weight: 500;
    text-align: center;
    color: rgb(169, 169, 169);
}

.alternative {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 0px;
    color: rgb(150, 150, 150);
    font-weight: 600;

    & ::before {
        content: "—————————  ";
        color: rgb(50, 50, 50);
        margin-right: 10px;
    }

    & ::after {
        content: "  —————————";
        color: rgb(50, 50, 50);
        margin-left: 10px;
    }
}

.cadastro-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 6px;
}

.cadastro-inputs input {
    background-color: rgba(18, 18, 18);
    border: solid 1px rgb(50, 50, 50);
    border-radius: 3px;
    height: 35px;
    width: 250px;
    padding: 0px 10px 0px 10px;
    color: var(--text-color-primary);
}

.cadastro-inputs input::placeholder {
    color: rgb(169, 169, 169);
    font-size: 12px;
}

.facebook-button {
    & img {
        height: 17px;
        width: 17px;
        margin-right: 8px;
    }
}

#facebook-button {
    background-color: rgba(74, 93, 249);
    color: white;
    font-weight: 500;
    font-size: 14px;
    margin-left: 5px;
    border-radius: 10px;
    height: 35px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.termos-p {
    font-size: 13px;
    font-weight: 500;
    color: rgb(169, 169, 169);
    text-align: center;
    margin-top: 20px;
    line-height: 16px;
    max-width: 270px;
}

.termos-p a {
    color: rgb(0, 123, 252);
}

.btn-cadastro {
    background-color: rgb(0, 123, 252);
    color: white;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
    border-radius: 5px;
    padding: 5px 0px 5px 0px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.sub-div {
    padding: 5px 0px 5px 0px;
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px rgb(50, 50, 50);
    border-radius: 2px;
    height: 70px;
    width: 360px;

    & a {
        font-weight: 600;
        color: rgb(0, 123, 252);
    }

    & p {
        margin-top: 0px;
    }
}

.obtain-app {
    margin-top: 10px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#appstore-img {
    margin-top: 10px;
    height: 40px;
    width: 130px;
    margin-right: 10px;
    cursor: pointer;
}

#googleplay-img {
    margin-top: 10px;
    height: 40px;
    width: 110px;
    cursor: pointer;
}