* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    text-decoration: none;
}

body {
    background-color: black;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    border-bottom: solid 1px rgb(100, 100, 100);
}

.header img {
    height: 30px;
    width: 110px;
    margin: 0 0 0 20px;
}

.header-button-div {
    margin-right: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.header-button-div #btn-entrar {
    background-color: rgb(74, 93, 249);
    color: white;
    padding: 7px 16px 7px 16px;
    border-radius: 6px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header-button-div #btn-entrar:hover {
    background-color: rgba(65, 80, 247);
}

.header-button-div #btn-cadastrar {
    color: rgb(133, 161, 255);
    font-size: 14px;
    font-weight: 600;
}

.header-button-div #btn-cadastrar:hover {
    text-decoration: underline;
    color: rgb(163, 188, 255);
}

/* Main */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.forgot-password-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    border: solid 1px rgb(100, 100, 100);
    border-radius: 4px;
    max-width: 450px;
    max-height: 600px;
    padding: 20px 40px 60px 40px;
}

.forgot-password-div h4 {
    color: white;
    font-weight: 600;
    margin-top: 10px;
}

.forgot-password-div p {
    color: rgb(180, 180, 180);
    font-size: 14px;
    margin-top: -10px;
    text-align: center;
    margin-bottom: 0px;
    line-height: 20px;
    max-width: 300px;
}

.forgot-password-div input {
    margin-top: 16px;
    padding: 10px 10px 10px 10px;
    border-radius: 6px;
    border: solid 1px rgba(54, 54, 54);
    background-color: rgb(20, 20, 20);
    color: white;
    width: 95%;
    font-size: 14px;
}

#btn-enviar-link {
    margin-top: 14px;
    background-color: rgb(24, 32, 139);
    color: white;
    padding: 6px 16px 6px 16px;
    border-radius: 6px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    width: 90%;
}

#btn-enviar-link:hover {
    background-color: rgba(65, 80, 247);
}

#redefinir-senha-link {
    color: rgb(133, 161, 255);
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}

span {
    margin-top: 18px;
    color: rgb(180, 180, 180);
    font-size: 14px;
}

span::before {
    content: "————————— ";
    margin-right: 10px;
    color: rgb(50, 50, 50);
}

span::after {
    content: " —————————";
    margin-left: 10px;
    color: rgb(50, 50, 50);
}

#criar-conta-link {
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    padding-bottom: 30px;
}

#criar-conta-link:hover {
    text-decoration: underline;
}

.voltar-btn {
    margin-top: -6px;
    background-color: rgba(18, 18, 18);
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    width: 380px;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px rgb(80, 80, 80);
    padding: 3px 0px 3px 0px;
    & a {
        color: white;
    }

    & :hover {
        text-decoration: underline;
    }
}