* {
    list-style-type: none;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
    background-color: black;
}

/* sidebar */

.sidebar {
    display: flex;
    flex-direction: column;
    width: 250px;
    border-right: solid 1px rgb(50, 50, 50);
}

.sidebar .logo {
    margin-top: 20px;
    margin-left: 10px;

    & img {
        height: 29px;
        width: 103px;
    }
}

.sidebar .menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.sidebar .menu a {
    color: white;
    width: 200px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;

    & img {
        width: 26px;
        height: 26px;
        border-radius: 50%;
    }
}

.sidebar .menu a:hover {
    background-color: rgb(30, 30, 30);
    border-radius: 10px;
    cursor: pointer;

}

.sidebar .menu a:active {
    transform: scale(0.95);
}