* {
    list-style-type: none;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
    background-color: black;
    display: flex;
    flex-direction: row;
}

.right-bar {
    width: 300px;
    position: fixed;
    right: 340px;
    top: 0;
    height: 100%;
    background-color: black;
    color: white;
    padding: 20px;
}

.sugestions-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.sugestions-container h4 {
    font-size: 14px;
    font-weight: 500;
}

.sugestions-container a {
    color: white;
    font-size: 12px;
    font-weight: bold;
}

.sugestions-container a:hover {
    color: rgb(102, 102, 102);
}

.accounts-container {
    margin-top: -20px;
    align-items: center;
    margin-bottom: 15px;
}

.account {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0px 10px 0px;
}

.account a {
    margin-left: 60px;
    border-radius: 6px;
    background-color: rgb(74, 93, 249);
    font-size: 14px;
    font-weight: 600;
    color: white;
    padding: 6px 20px 6px 20px;
}

.account a:hover {
    background-color: rgb(54, 73, 229);
    cursor: pointer;
}

.account img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.account-info {
    display: flex;
    flex-direction: column;
}

.account .username {
    font-size: 12px;
    font-weight: bold;
}

.account .reason {
    font-size: 12px;
    color: gray;
}

.middle-div {
    margin-left: 580px;
    position: absolute;
    width: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.storys-container {
    color: white;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    gap: 25px;
}

.story {
    padding: 3px;
    width: 84px;
    height: 84px;
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.story-image {
    width: 80px;
    height: 80px;
    margin-top: 23px;
    border-radius: 50%;
    padding: 3px;
    background-color: black;
}

.story span {
    margin-top: 8px;
}

.story:active {
    transform: scale(0.95);
}

.posts-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: 50px;
    color: white;
    width: 450px;
}

.title-div img {
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.title-div .username {
    font-size: 14px;
    font-weight: 600;
}

.title-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
    width: 450px;
}

.title-div-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.title-div-right .more:hover {
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    transform: scale(1.05);
}

.post-image img {
    width: 450px;
    height: 460px;
    margin-bottom: 20px;
    border-radius: 6px;
}

.interaction-div {
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.interaction-div-left .icons {
    margin-left: 10px;
}

.interaction-div-right .icons {
    margin-right: 10px;
}

.post-info {
    height: 100px;
    width: 460px;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 8px;
    font-size: 14px;
    margin: 10px;
}

.post-info p {
    margin: 0;
    margin-left: 12px;
}

.add-comment {
    color: #A8A8A8;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}