* {
    --text-color-primary: rgb(255, 255, 255);
    --text-color-secondary: rgb(200, 200, 200);
    list-style-type: none;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
    background-color: rgb(0, 0, 0);
    font-family: var(--font-family-system);
    color: var(--text-color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    border: solid 1px rgb(50, 50, 50);
    border-radius: 2px;
    max-height: 420px;
    max-width: 350px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 0px;
}

.login-area {
    display: flex;
    flex-direction: column;
}

.login-area .login-inputs {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 0px;
    gap: 10px;
}

.login-inputs input {
    background-color: transparent;
    border: solid 1px rgb(100, 100, 100);
    padding: 10px;
    color: white;
    outline-style: none;
    width: 250px;
    border-radius: 2px;
    font-size: 13px;
    font-weight: 400;

    &::placeholder {
        color: rgb(150, 150, 150);
    }
}

.login-button {
    margin-top: 20px;
    background-color: rgb(0, 123, 252);
    border: none;
    padding: 6px;
    cursor: pointer;
    border-radius: 10px;
    height: auto;
    /* ou remova essa linha */
    text-align: center;
    color: var(--text-color-primary);
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;

    & a {
        color: var(--text-color-primary);
    }
}

.alternative {
    font-size: 12px;
    margin-top: 15px;
    color: rgb(150, 150, 150);
    font-weight: 600;

    & ::before {
        content: "—————————  ";
        color: rgb(50, 50, 50);
        margin-right: 10px;
    }

    & ::after {
        content: "  —————————";
        color: rgb(50, 50, 50);
        margin-left: 10px;
    }
}

.face-forgot-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    gap: 15px;
}

.face-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    & i {
        margin-right: 12px;
        font-size: 18px;
        color: rgb(0, 123, 252);
        cursor: pointer;
    }

    & a {
        color: rgb(0, 123, 252);
        font-weight: 600;
        font-size: 14px;
    }
}

.forgot-password a {
    color: white;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.sub-div {
    font-size: 14px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    border: solid 1px rgb(50, 50, 50);
    border-radius: 2px;
    height: 70px;
    width: 350px;

    & a {
        font-weight: 600;
        color: rgb(0, 123, 252);
    }
}

.obtain-app {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#appstore-img {
    height: 45px;
    width: 140px;
    margin-right: 10px;
    cursor: pointer;
}

#googleplay-img {
    height: 45px;
    width: 120px;
    cursor: pointer;
}