* {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
    background-color: black;
    display: flex;
    flex-direction: row;
}

.main {
    margin-top: 50px;
    margin-left: 750px;
    color: white;
    display: flex;
    flex-direction: column;
}

.profile-container {
    display: flex;
    gap: 30px;
}

.username {
    display: flex;
    gap: 10px;
}

.username h4 {
    font-size: 20px;
}

.name {
    margin-top: 10px;
    font-size: 14px;
}

.profile-info {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    font-size: 14px;
}

.profile-bio {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.buttons-div {
    margin-top: 30px;
    display: flex;
    gap: 10px;
}

.buttons-div a{
    background-color: #25292E;
    color: white;
    padding: 10px 100px 10px 100px;
    border-radius: 14px;
    font-size: 14px;
    font-weight: 600;
}

.destaques-area {
    margin-left: 20px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 20px;
    height: 80px;
    font-family: 14px;
    text-align: center;
}

.destaques-area p {
    margin-top: 10px;
    font-size: 14px;
    color: rgb(165, 165, 165);
}

.destaque-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    background-color: rgb(100, 100, 100);
    border-radius: 50%;
}

.destaques-area img{
    height: 72px;
    width: 72px;
    border-radius: 50%;
    border: 3px solid black;
}

.destaques-area svg {
    background-color: rgb(30, 30, 30);
    padding: 13px;
    border-radius: 50%;
    border: 3px solid black;
    color: rgb(102, 102, 102);
}