
/* sidebar */

.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100dvh;
    width: 230px;
    border-right: solid 1px rgb(50, 50, 50);
}

.sidebar .logo {
    margin-top: 20px;
    margin-left: 10px;

    & img {
        height: 29px;
        width: 103px;
    }
}

.sidebar .menu {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-top: 20px;
}

.sidebar .menu a {
    color: white;
    width: 170px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;

    & img {
        width: 26px;
        height: 26px;
        border-radius: 50%;
    }
}

.sidebar .menu a:hover {
    background-color: rgb(30, 30, 30);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.sidebar .menu a:active {
    transform: scale(0.95);
}

.other-buttons {
    margin-top: 146px;
}

.other-buttons a {
    margin-top: 14px;
}
